DATABASE_URL=mongodb+srv://user:password@cluster.mongodb.net/bidnews?retryWrites=true&w=majority
REDIS_URL=https://default:password@region.upstash.io
NEWSAPI_KEY=12168fdd84864ae2812156705af34dcd
JWT_SECRET=your-secret-key-change-this
NODE_ENV=production
PORT=3001
FRONTEND_URL=https://yourdomain.com
CORS_ORIGIN=https://yourdomain.com
