NODE_ENV=production
PORT=3001
JWT_SECRET=your-super-secret-key-12345
CORS_ORIGIN=https://bidnews-web.yourdomain.com
NEWSAPI_KEY=12168fdd84864ae2812156705af34dcd
MEDIASTACK_KEY=0bda126fea4ff3b348b196eaf427e79a
CURRENTS_API_KEY=OPVZkhfDcZUoYGM36Lv10bqrMakIaun0qOXjnVPWHk4Hd_Hv
THENEWS_API_KEY=ipkS0uIzyvQqbrOxKG8stMFFmqKIkIAgM9VwkIjl
